+# .gitignore file for LyX and LaTeX projects

# Ignore everything in the tests and old  directories
# where experimental and outdated stuff are storaged
#tests
#old
plots
plots/*.txt
plots/*.png
examples/*.conf~
examples/#*
examples/.#*
scripts/*.conf~
.idea/
temp/

# Ignore swap files
.*.swp

# Ignore all the output  files (dvi or pdf)
#*.pdf
#*.dvi

# Ignore standard latex's compilation files
*.out
*.log
*.aux

# Ignore TexMaker compilation files
*.synctex.gz

# Ignore JabRef bkup files
*.bib.bak
.$*.bib$

# ingnore lyx VCS files and backups
\#*.lyx\#
*.lyx,v
*.lyx~

# LaTeX gitignore from github:
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

*.pyc
*.py~
*.py#

__pycache__/

# Ignore partial pdf files for chapters

Chap*/Chap*.pdf

# Ignore dropbox config files
.dropbox
